*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
/* navbar section */
.navbar-custom{
    background-color: #264653;
    color: #fff;
}
.navbar-light{
    color: #fff;
}
.navbar-custom ul li a{
    color: #fff;
}
/* hero section */
.hero-img img{
  width: 552px;
  height: 447px;
}
.hero-section {
  background-color: #264653;
  width: 100%;
}
.btn-primary{
    background-color: #E76F51;
    border-radius: 5px;
    padding: 10px 40px;
}
.btn-primary:hover{
    background-color: #E76F51;
    border-radius: 5px;
    padding: 10px 40px;
}
.btn-primary:focus{
    background-color: #E76F51;
    border-radius: 5px;
    padding: 10px 40px;
}
.primary-color{
    color: #E76F51;
}
/*------------------- feature section --------------------------- */
.section-title{
    font-size: 48px;
}

.feature-bikes img{
   width: 28%;
   
}
.gray-img{
    filter: grayscale(100%);
}
/* card section  */
.card img{
    width: 149px;
    height: 149px;
}
.client-title{
    color: blue;
}
.card-text{
    color: gray;
}

.wrapper img{
    width: 23%;
}


/* newsletter section  */
.newsletter{
    padding: 80px 50px;
}
.newsletter p{
    color: #000;
}
.subscribe-btn{
    background-color:#E76F51 ;
    color: #fff;
}

/* footer section  */
footer{
    background-color: #0B0D17;
}
footer a, small, p{
    text-decoration: none;
    color: #fff;
    font-weight: normal;
}






/* for mobile devices */

@media only screen and (max-width: 600px) {
    .feature-bikes{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .feature-bikes img{
        width: 80%;
        
     }
    .card {
      margin: 0 auto;
    }
    .bike{
        padding: 0;
    }
    .wrapper{
        flex-direction: column;
       
    }
    .wrapper img{
        width: 100%;
    }
  }



 